In [1]:
def myreducefunction(function,list1):
    for i in range(0,len(list1)-1):
        b=function(list1[i],list1[i+1])
        list1[i+1]=b
    return b

In [2]:
myreducefunction(lambda x,y: x+y,[1,2,3,4,5])

15

In [4]:
a=range(0,10)

In [5]:
def myfilterfunction(function,list2):
    b=[]
    for i in list2:
        if function(i)==True:
            b.append(i)
            
    return b

In [7]:
myfilterfunction(lambda x:x%2==0,a)

[0, 2, 4, 6, 8]

In [8]:
[x for  x in "ACADGI"]

['A', 'C', 'A', 'D', 'G', 'I']

In [9]:
[x*y for x in "xyz" for y in range(1,5)]

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [10]:
[x*y for x in range (1,5) for y in "xyz"]

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [11]:
[[x+y] for x in range (1,4) for y in range (1,4)]

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [12]:
[[x+y for x in range (1,5)] for y in range (1,5)]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [13]:
[(y,x) for x in range (1,4) for y in range (1,4)]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [14]:
names =["nirmal","deon","alden","jeffrey"]
def longest(names):
    a=[len(x) for x in names]
    
    for i in names :
        if len(i)==max(a):
            return i

In [15]:
longest(names)

'jeffrey'

In [16]:
class triangle:
    def __init__(self,a,b,c):
        self.a=a
        self.b=b
        self.c=c
    def area(self):
        s=(self.a+self.b+self.c)/2
        result=(s*(s-self.a)*(s-self.b)*(s-self.c)) ** 0.5
        return result

In [17]:
a=triangle(3,4,5)

In [18]:
a.area()

6.0

In [19]:
a=['nirmal','deon','alden','jeff']
def filter_long_words(list1,n):
    b=[]
    for i in list1:
        if len(i)>n:
            b.append(i)
    return b

In [20]:
filter_long_words(a,3)

['nirmal', 'deon', 'alden', 'jeff']

In [21]:
a=["nirmal","deon","alden","jeffrey"]
def length(list1):
    return [len(x) for x in list1]

In [22]:
length(a)

[6, 4, 5, 7]

In [23]:
def consonent (a):
    if a in  ["a","e","i","o","u"]:
        print ("true")
    else:
        print("false")

In [24]:
consonent('b')

false

In [25]:
consonent('e')

true